#header {
    min-height: 95px;
    max-width: 1024px;
    color: coral;
    background-color: #ddffd3;
    align-content: center;
    clear: both;
    margin-right: auto;
    margin-left: auto;
}

#date {
    text-align: right;
    padding-bottom: 5px;
    padding-right: 5px;
}

#menu ul {
    list-style: none;
    background-color: #38bd00;
    text-align: center;
}

#menu li {
    height: 50px;
    font: 30px Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}

#menu a {
    line-height: 50px;
    width: 170px;
    text-decoration: none;
    display: block;
    color: black;
    transition: .3s background-color;
}

#menu a:hover {
    background-color: #ddffd3;

}

#content {
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    background-color: #EBEBEB;
    clear: both;
}

.register-form label {
    font: 13px Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.register-form input, select {
    box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 2px;
    padding: 5px;
    outline: none;
}
.register-form input:focus, select:focus {
    border: 1px solid #38bd00;
}

.register-form select.select-option:focus {
    background-color: #ddffd3;
    border-color: #38bd00;
}

#register-button {
    padding: 0;
    background: #38bd00;
    color: white;
    border: outset #6a3500;
    border-radius: 3px;
    border-width: 1px;
    height: 25px;
    width: 100px;
    font: bold 15px arial, sans-serif;
}

#register-button:disabled {
    background: #92bfa3;
    color: #acddbf;
}

#register-button:hover:not([disabled]) {
    background: #56ea00;
}

.field-incorrect, .field-incorrect input:focus {
    background-color: lightpink;
}

.field-correct {
    background-color: lightgreen;
}