<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IT Kolledž - i244: Allar Vendla - Veenäidu teatamise (veebi)rakendus - Registreeri</title>
    <link rel="stylesheet" type="text/css" href="../assets/style/style.css"/>
    <script src="../assets/script/register.js"></script>
</head>
<body>
<h1>Registreeri uus kasutaja.</h1>

<div class="register-form">
    <form action="register.html" method="post">
        <table>
            <tr>
                <td><label for="username">Kasutaja:</label></td>
                <td><input id="username" name="username" type="text" placeholder="Sisesta kasutajanimi"></td>
            </tr>
            <tr>
                <td><label for="password">Parool:</label>
                <td><input id="password" name="password" type="password" placeholder="Sisesta parool"></td></td>
            </tr>
            <tr>
                <td><label for="confirm-password">Kinnita parool:</label></td>
                <td><input id="confirm-password" name="confirm-password" type="password" placeholder="Kinnita parool"></td>
            </tr>
            <tr>
                <td><label for="email">E-mail:</label></td>
                <td><input id="email" name="email" type="email" placeholder="Sisesta e-mail"></td>
            </tr>
            <!--
           Järgnev valik peaks sõltuma eelnevast.. Javascript/PHP - ilmselt natukene mõlemat.
           -->
            <tr>
                <td><label for="area">Piirkond:</label></td>
                <td><select id="area" class="select-option" name="area">
                    <option value="0" selected>Vali..</option>
                    <option value="1">Tartu</option>
                    <option value="2">Tallinn</option>
                    <option value="3">Võru</option>
                </select></td>
            </tr>
            <tr>
                <td><label for="condo">Korteriühistu:</label></td>
                <td><select id="condo" class="select-option" name="condo">
                    <option value="0" selected>Vali..</option>
                    <option value="1">Sinilille</option>
                    <option value="2">Varblase</option>
                    <option value="3">Kanarbiku</option>
                </select></td>
            </tr>
            <tr>
                <td><input id="register-button" type="submit" value="Registreeri"></td>
            </tr>

        </table>
    </form>
</div>

</body>
</html>